<form id="loginForm" action="/login" method="POST">
  <label>Email</label>
  <input type="text" name="email" />
  <br />
  <label>Password</label>
  <input type="password" name="password" />
  <input type="submit" />
</form>
<script src="../public/login.js"></script>